In [2]:
import psycopg2
import pandas as pd
from secrets_1 import host, database, user, password
# Connection parameters, yours will be different
param_dic = {
    "host"      : host,
    "database"  : database,
    "user"      : user,
    "password"  : password
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    print("Connection successful")
    return conn

In [3]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    immigration_df = pd.DataFrame(tupples, columns=column_names)
    return immigration_df

In [4]:
# Connect to the database
conn = connect(param_dic)
column_names = [
    "REF_DATE",
    "GEO",
    "variable",
    "value",
    "status_year"
]

# Execute the "SELECT *" query
immigration_df = postgresql_to_dataframe(conn, 'select * from "Project4"."prd_immigration" ', column_names)
immigration_df

Connecting to the PostgreSQL database...
Connection successful

,REF_DATE,GEO,variable,value,status_year
0,0,2021,"Abbotsford - Mission (CMA), B.C.",3378477,1980
1,1,2021,Alberta,49350279,1980
2,2,2021,"Barrie (CMA), Ont.",3960250,1980
3,3,2021,"Belleville - Quinte West (CMA), Ont.",1538001,1980
4,4,2021,"Brantford (CMA), Ont.",2680709,1980
...,...,...,...,...,...
331,331,2021,"Vancouver (CMA), B.C.",28621544,2021
332,332,2021,"Victoria (CMA), B.C.",1863189,2021
333,333,2021,"Windsor (CMA), Ont.",2992476,2021
334,334,2021,"Winnipeg (CMA), Man.",8392093,2021
335,335,2021,Yukon,214493,2021